
.property-label {
    -fx-font-size: 10pt;
}

.message-label {
    -fx-font-size: 12pt;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.xxpage-name {
    -fx-font-size: 11pt;
}

.xxfont-large {
    -fx-font-size: 16pt;
}

.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}